*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

p,
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ui[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
