.about-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    'card1 card1 card2 card2 card3 card3'
    'card4 card4 card4 card5 card5 card5';
  gap: var(--gap-medium-xl);
  letter-spacing: var(--ls-main);
  padding: 48px 0;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--radius-2xl);
    padding: 32px;
    height: 236px;
    background: var(--bg-card-1);
    box-shadow: var(--shadow-card);

    &:nth-child(1) {
      grid-area: card1;
    }
    &:nth-child(2) {
      grid-area: card2;
    }
    &:nth-child(3) {
      grid-area: card3;
    }
    &:nth-child(4) {
      grid-area: card4;
    }
    &:nth-child(5) {
      grid-area: card5;
    }
    &:nth-child(2n) {
      background: var(--bg-card-2);
    }
  }

  &__icon {
    font-size: 40px;
  }

  &__title {
    font-size: var(--fs-xl);
    font-weight: bold;
    line-height: var(--lh-percent-m);
  }
}

@media (max-width: 1050px) {
  .about-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'card1 card2'
      'card3 card4'
      'card5 card5';
  }
}

@media (max-width: 750px) {
  .about-card {
    display: flex;
    flex-direction: column;
  }
}
