.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
  padding: 16px 0 50px;
  text-align: center;

  &__link {
    font-size: var(--fs-l);
    font-weight: 700;
    line-height: var(--lh-percent-m);
    color: var(--subscribe-accent);
    margin-bottom: 30px;
    letter-spacing: normal;
  }

  &__title {
    font-size: var(--fs-xl);
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 26.82px;
  }

  &__subtitle {
    font-size: var(--fs-xl);
    line-height: var(--lh-percent-m);
    font-weight: 500;
    margin-bottom: 62px;
  }
}
