.info-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 371px;
  line-height: var(--lh-percent-s);
  gap: 32px;
  &__title {
    font-size: var(--fs-xl);
    color: var(--secondary);
    font-weight: bold;
  }
  &__info {
    color: var(--features-muted);
  }
}
