.skeleton {
  width: 100%;
  height: 50px;
  position: relative;
  box-shadow: 2px 2px 2px 0px #00000014;
  overflow: hidden;

  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--skeleton);
  // rgb(0, 60, 255, 0.1);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
