$margin-bottom: 4px;

.select {
  background: var(--bg-input);
  height: 40px;
  padding: 0 16px;
  border-radius: var(--radius-xs);
  border: 1px solid var(--input-border);
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 8px;
  margin-bottom: $margin-bottom;

  &:focus {
    outline: 2px solid var(--border-select);
    outline-offset: -2px;
    border: none;
  }

  &__wrapper {
    position: relative;
  }

  &__arrow {
    position: absolute;
    font-size: 24px;
    top: 50%;
    right: 0;
    transform: translate(-50%, calc(-50% + $margin-bottom / 2));
    pointer-events: none;
  }

  &__error {
    margin-top: 2px;
    color: var(--error);
  }

  &--error {
    border: 2px solid var(--error);
  }
}
