.tabs {
  position: relative;
  display: flex;

  &__button {
    width: 100%;
  }

  &::after,
  &__item--active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    opacity: 20%;
    background-color: var(--muted);
  }

  &__item--active {
    position: relative;
    &:hover::after {
      background-color: var(--active);
    }
    &::after {
      opacity: 1;
      left: 0;
      width: 100%;
    }
  }
}
