.exchange {
  padding: 32px;
  line-height: var(--lh-xl);
  background: var(--exchange-bg);
  border-radius: var(--radius-2xl);
  box-shadow: var(--exchange-shadow);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'title info'
    'subtitle .'
    'list img'
    'list img'
    'link .';

  &__title {
    grid-area: title;
    font-weight: 500;
    font-size: var(--fs-xl);
    color: var(--secondary);
    margin-bottom: 24px;
  }
  &__subtitle {
    grid-area: subtitle;
    align-self: center;
    font-size: var(--fs-m);
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__currency-list {
    grid-area: list;
    justify-self: start;
    align-self: center;
  }
  &__link {
    grid-area: link;
    font-size: var(--fs-m);
    color: var(--primary-invert);
    line-height: var(--lh-percent-s);
    transition: var(--animation-main);
    margin-top: 28px;
    width: max-content;
    &:hover {
      color: var(--logo);
    }
  }
  &__info {
    grid-area: info;
    justify-self: end;
  }
  &__img {
    grid-area: img;
    justify-self: end;
    font-size: 120px;
  }
}

@media (max-width: 920px) {
  .exchange {
    grid-template-areas:
      'title title'
      'subtitle .'
      'list img'
      'list img'
      'info info'
      'link .';
    &__info {
      justify-self: start;
    }
  }
}

@media (max-width: 650px) {
  .exchange__info {
    margin-top: 28px;
  }
}

@media (max-width: 650px) {
  .exchange {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title'
      'subtitle'
      'list'
      'info'
      'link';
    &__img {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .exchange {
    text-align: center;
    &__info,
    &__currency-list {
      justify-self: center;
    }
  }
}
